<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amtsdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AMTSDEMO"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.ViewUserData" />
        <activity android:name=".activity.UserList" />
        <activity android:name=".activity.EmployeeBusPassActivity"/>
        <activity android:name=".activity.SeniorCitizenBusPassActivity"/>
        <activity android:name=".activity.BusPassActivity"></activity>
        <activity android:name=".activity.EmployeeDashboardActivity"/>
        <activity android:name=".activity.SeniorCitizenDashboardActivity"/>
        <activity android:name=".activity.ViewImage" />
        <activity android:name=".activity.UpdateProfile" />
        <activity android:name=".activity.UploadImage" />
        <activity android:name=".activity.StudentLogin" />
        <activity android:name=".activity.AMTSManagerDashboard" />
        <activity android:name=".activity.MainDashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PaymentActivity"></activity>
        <activity android:name=".activity.SeniorCitizenLogin" />
        <activity android:name=".activity.EmployeeLogin" />
        <activity android:name=".activity.CollageLogin" />
        <activity android:name=".activity.AmtsManagerLogin" />
        <activity android:name=".activity.UserDashboard" />
        <activity android:name=".activity.ViewEmployeeData" />
        <activity android:name=".activity.ViewSeniorCitizenData" />
        <activity android:name=".activity.PassSeniorCitizenRequest" />
        <activity android:name=".activity.PassEmployeeRequest" />
        <activity android:name=".activity.show_student_request" />
        <activity android:name=".activity.ViewStudentData" />
        <activity android:name=".activity.SelectCollage" />
        <activity android:name=".activity.StudentList" />
        <activity android:name=".activity.Student_PASS_Request"></activity>
        <activity android:name=".activity.UserLogin" />
        <activity android:name=".activity.UserRegistration" />
        <activity android:name=".activity.EmployeeList" />
        <activity android:name=".activity.SeniorCitizenList" />
        <activity android:name=".activity.DashboardActivity"></activity>
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>